body {
  background: #FFF;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 20px;
}
a {
  color: #000;
}
nav {
  text-align: center;
  padding: 1em;
}
nav a {
  display: inline-block;
  margin-right: 0.2em;
}
.content {
  margin-top: 1em;
  max-width: 300px;
  margin: 0 auto;
}